apiVersion: v1
name: steadybit-agent
description: steadybit Agent Helm chart for Kubernetes.
version: 0.2.0
appVersion: latest
home: https://www.steadybit.com/
icon: https://steadybit-website-assets.s3.amazonaws.com/logo-symbol-transparent.png
maintainers:
  - email: dennis.schulte@steadybit.com
    name: denschu
sources:
  - https://github.com/steadybit/helm-charts
annotations:
  artifacthub.io/images: |
    - name: logo
      image: https://steadybit-website-assets.s3.amazonaws.com/logo-symbol-transparent.png
  artifacthub.io/links: |-
    - name: steadybit website
      url: https://www.steadybit.com
    - name: steadybit Kubernetes Helm charts
      url: https://github.com/steadybit/helm-charts
