---
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "steadybit-platform.fullname" . }}-pull-secrets
  namespace: {{ .Release.Namespace }}
  labels:
  {{- include "steadybit-platform.commonLabels" . | nindent 4 }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ template "imagePullSecretDockerRegistry" . }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "steadybit-platform.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
  {{- include "steadybit-platform.commonLabels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.platform.tenant.agentKey }}
  key: {{ .Values.platform.tenant.agentKey | b64enc | quote }}
  {{- end }}