name: CI

on:
  push:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.12.3

      - name: Add dependency chart repos
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo add extension-aws https://steadybit.github.io/extension-aws
          helm repo add extension-container https://steadybit.github.io/extension-container
          helm repo add extension-datadog https://steadybit.github.io/extension-datadog
          helm repo add extension-host https://steadybit.github.io/extension-host
          helm repo add extension-http https://steadybit.github.io/extension-http
          helm repo add extension-istio https://steadybit.github.io/extension-istio
          helm repo add extension-gatling https://steadybit.github.io/extension-gatling
          helm repo add extension-jmeter https://steadybit.github.io/extension-jmeter
          helm repo add extension-jvm https://steadybit.github.io/extension-jvm
          helm repo add extension-k6 https://steadybit.github.io/extension-k6
          helm repo add extension-kong https://steadybit.github.io/extension-kong
          helm repo add extension-kubernetes https://steadybit.github.io/extension-kubernetes
          helm repo add extension-postman https://steadybit.github.io/extension-postman
          helm repo add extension-prometheus https://steadybit.github.io/extension-prometheus
          helm repo add extension-stackstate https://steadybit.github.io/extension-stackstate
          helm repo add extension-azure https://steadybit.github.io/extension-azure

      - uses: actions/setup-python@v4

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.4.0

      - name: Add unit testing plugin
        run: helm plugin install https://github.com/helm-unittest/helm-unittest.git

      - name: Run chart lint
        run: make chartlint

      - name: Run chart unit tests
        run: make charttesting

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.5.0
        if: github.ref == 'refs/heads/main'
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
