name: CI

on:
  push:

env:
  HELM_REPOSITORY_CONFIG: ${{ github.workspace }}/.github/helm/repositories.yaml

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.19.3

      - uses: actions/setup-python@v5

      - name: Set up chart-testing
        uses: helm/chart-testing-action@0d28d3144d3a25ea2cc349d6e59901c4ff469b3b # v2.7.0

      - name: Add unit testing plugin
        run: helm plugin install https://github.com/helm-unittest/helm-unittest.git

      - name: Run chart lint
        run: make chartlint

      - name: Run chart unit tests
        run: make charttesting

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@cae68fefc6b5f367a0275617c9f83181ba54714f # v1.7.0
        if: ${{ startsWith(github.ref, 'refs/tags/') || github.ref == 'refs/heads/main' }}
        with:
          mark_as_latest: ${{ github.ref == 'refs/heads/main' }}
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
